@keyframes expandToActive {
  0% {
    width: 275px;
  }
  50% {
    width: 290px;
  }
  100% {
    width: 275px;
    background-color: var(--primary-color);
    color: white;
  }
}

.note-item-container {
  display: flex;
  /* justify-content: center; */
  box-sizing: border-box;
  align-items: center;
  width: 230px;
  height: 80px;
  flex-shrink: 0;

  padding: 12px 16px 12px 30px;
  border-radius: 0px 12px 12px 0px;
  border-top: 1px solid #d1d1d1;

  box-shadow: 0 2px 8px 0 rgba(63, 68, 138, 0.3);
  font-size: large;
  transition: width 0.2s ease;

  position: relative;
  z-index: 1;
  user-select: none;
  cursor: pointer;
}

.note-item-container p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.note-item-container:hover {
  width: 275px;
  justify-content: center;
  text-align: center;
  padding: 12px 16px;
}

.note-item-container.active {
  justify-content: center;
  padding: 12px 16px;
  animation: expandToActive 0.3s ease forwards;
}

.note-item-actions {
  position: absolute;
  top: 10px;
  left: 10px;
}
