@keyframes slideInBounce {
  0% {
    opacity: 20%;
    transform: translateY(-50%) translateX(-100%);
  }
  60% {
    transform: translateY(-50%) translateX(10px);
  }
  80% {
    transform: translateY(-50%) translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
}

.sidebar-container {
  width: 300px;
  height: 85vh;
  padding: 20px 0px 20px 0px;
  box-sizing: border-box;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  gap: 6px;
  background: rgb(255, 255, 255);
  border-radius: 0px 22px 22px 0px;

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  animation: slideInBounce 0.6s ease-out;

  &.collapsed {
    top: 10%;
    width: 80px;
    height: 76px;
  }

  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .sidebar-container {
    &.collapsed {
      top: 4px;
      transform: none;
      box-shadow: 0 0px 16px 0 rgba(31, 38, 135, 0.3);
      width: 60px;
    }
  }
}

.sidebar-options {
  display: flex;
  justify-content: end;
  padding: 0px 20px;
  gap: 26px;
}

.circular-button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-notes-list {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0px;

  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

/* .sidebar-container::after {
  content: "";
  width: 130px;
  height: 34px;
  position: absolute;
  background: rgb(255, 255, 255);
  top: -34px;
  left: 130px;
  border-radius: 16px 16px 0px 0px;
} */
